@use "./variables.scss";

.container {
  box-shadow: variables.$light-mode-shadow;
  border-radius: 5px;
}

.info_container {
  padding-inline: 1.5rem;
  padding-block: 1rem 3rem;

  h3 {
    padding-block: 0.5rem;
  }
}

.info_label {
  font-weight: 600;
}

#flag {
  border-radius: 5px 5px 0 0;
}

.dark_shadow {
  box-shadow: variables.$dark-mode-shadow;
}

.dark_element {
  color: variables.$dark-mode-text;
  background-color: variables.$dark-mode-element;
}

.light_element {
  color: variables.$light-mode-text;
  background-color: variables.$light-mode-element;
}

.light_shadow {
  box-shadow: variables.$light-mode-shadow;
}
