@use "./variables.scss";

.container {
  box-shadow: variables.$light-mode-shadow;
  border-radius: 5px;
}

.info_container {
  padding-inline: 1.5rem;
  padding-block: 1rem 3rem;

  h2 {
    font-size: 1.25rem;
    padding-block: 0.5rem;
  }
}

.info_label {
  font-weight: 600;
}

.flag {
  border-radius: 5px 5px 0 0;
}
