@use "./variables.scss";

.main {
  min-height: 100vh;
  padding-bottom: 15%;
}

.container {
  margin-inline: 5rem;
}

.filter_container {
  display: flex;
  margin-block: 2.5rem 3rem;
  justify-content: space-between;
}

.search {
  display: flex;
  position: relative;
  padding-inline: 5rem;
  border-radius: 5px;

  input {
    border: none;
    outline: none;
    width: 40rem;
    height: 3.5rem;
    font-weight: 600;
    user-select: none;
  }
}

.filter {
  position: relative;
  border-radius: 5px;

  select {
    font-weight: 600;
    height: 100%;
    padding-inline: 1.5rem 4rem;
    border: none;
    outline: none;
    appearance: none;
    user-select: none;
    border-radius: 5px;
  }
}

#magnifying_glass {
  position: absolute;
  top: 26%;
  left: 2rem;
  height: 24px;
  width: 24px;
}

#down_arrow {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  height: 16px;
  width: 16px;
  pointer-events: none;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-row-gap: 5rem;
  justify-content: space-between;
}

@media (max-width: 1420px) {
  .card_container {
    grid-template-columns: repeat(3, 300px);
  }

  .search {
    input {
      width: 20rem;
    }
  }
}

@media (max-width: 1090px) {
  .card_container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 850px) {
  .filter_container {
    flex-direction: column;
  }

  .search {
    max-width: fit-content;
  }

  .filter {
    margin-top: 2rem;
    padding-block: 1rem;
    max-width: fit-content;
  }
}

@media (max-width: 780px) {
  .card_container {
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .container {
    margin-inline: 2.5rem;
  }

  .search {
    input {
      max-width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .container {
    margin-inline: 1.25rem;
  }

  .search {
    max-width: 100%;
    padding-inline: 3rem;

    input {
      max-width: 100%;
    }
  }

  #magnifying_glass {
    left: 1rem;
  }
}
