/* Colors */
$dark-mode-element: hsl(209, 23%, 22%);
$dark-mode-bg: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-bg: hsl(0, 0%, 98%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-element: hsl(0, 0%, 100%);

/* Fonts */
$nunito-sans: "Nunito Sans", sans-serif;
